<div id="bsd">בס״ד</div>
<div class="vcard">
  <div style="float: right" lang="he">
    <h1 class="name nickname">ישראל דוב לִבּוֹ</h1>
    <i class="fas fa-at"></i
    ><a href="mailto:lebow@lebowtech.com">lebow@lebowtech.com</a>
    <a class="phone print-only" href="tel:+972548493912"
      ><br /><i class="fas fa-phone"></i>0548493912</a
    >
    <br /><i class="fas fa-map-marked"></i>
    <address style="display: inline">אשדוד</address>
    <br />
  </div>
  <div style="float: left">
    <h1 class="name fn n">
      <span class="given-name">Yisrael Dov</span>
      <span class="family-name">Lebow</span>
    </h1>
    <span
      class="u-sound p-ipa"
      href="http://ipa-reader.xyz/?text=jisr%CA%B2ol%20dojv%20libo&voice=Maxim"
    >
      jisrʲol dojv libo
    </span>
    <i class="fas fa-at"></i
    ><a href="mailto:lebow@lebowtech.com" class="email"
      >lebow@lebowtech.com</a
    >
    <span class="tz" style="display: none">+02:00</span>
    <span class="title" style="display: none">Software Developer</span>
    <a class="phone print-only" href="tel:+972548493912"
      ><br /><i class="fas fa-phone"></i>+972548493912</a
    >
    <br />
    <a href="https://osm.org/go/xtGNVs3?relation=1380013">
      <i class="fas fa-map-marked"></i>
      <address style="display: inline">
        <span class="city">Ashdod</span>, <span class="country">Israel</span>
      </address>
    </a>
    <br />
  </div>
  <div class="org" style="display: none">Lebow Technology Solutions</div>
  <img id="avatar" src="avatar.svg" />
  <img id="qrcode" src="site-qr.png" />
  <div class="noprint">
    <ul class="contactIcons">
      <a href="https://www.linkedin.com/in/yisraeldov/">
        <li><i class="fab fa-linkedin"></i></li>
      </a>
      <a href="https://gitlab.com/yisraeldov">
        <li><i class="fab fa-gitlab"></i></li>
      </a>
      <a href="https://keyoxide.org/defbcfd001b445c1c3751ca06ae703b3e171c686">
        <li><i class="fas fa-key"></i></li>
      </a>
      <a href="https://github.com/yisraeldov">
        <li><i class="fab fa-github"></i></li>
      </a>
      <a href="https://riot.im/app/#/user/@yisraeldov:matrix.org">
        <i class="far fa-comments"></i>
      </a>
      <a
        href="https://odysee.com/$/list/20a4fe5f8ca2cab6d902ae99b567a2b520273b12"
      >
        <li><i class="fas fa-video"></i></li>
      </a>
    </ul>
  </div>
  <div style="clear: both"></div>
</div>
