<div class='vcard'>
            <div style="float:right;text-align:right;direction:rtl">
                <h1 class="name nickname">
                    ישראל דוב לִבּוֹ
                </h1>
<a href="mailto:resume@lebowtech.com">resume@lebowtech.com</a>
            </div>
            <h1 class="name fn n">
                <span class="given-name">Yisrael Dov</span> <span class="family-name">Lebow</span>
            </h1>

	 email:<a href="mailto:resume@dev.lebowtech.com" class="email">resume@dev.lebowtech.com</a> <span class="tz" style="display:none">+02:00</span> <span class="title" style="display:none">Web Developer</span>
	  <br/>Phone:<a class="phone" href="tel:13474711368">1 (347) 471-1368</a>
	 <br> <a  class='sicon linkedin' href='http://goo.gl/Dp0MF'>LinkedIn: http://goo.gl/Dp0MF </a>
            <div class="org" style="display:none">
                Lebow Technology Solutions
            </div>  
        </div>
<div>test</div>