<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="./fontawesome/css/all.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" sizes="32x32,64x64,48x48,16x16" href="./favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="./favicon180.png">
<link rel="icon" type="image/png" sizes="128x128" href="./favicon128.png">
<link rel="icon" type="image/png" sizes="192x192" href="./favicon192.png">
<link rel="icon" type="image/png" sizes="512x512" href="./favicon512.png">

<title>Yisrael Dov Lebow - Resume</title>
