@media print {
  .noprint {
    display: none;
  }

  a {
    color: black;
    text-decoration: none;
    background-color: inherit;
  }
  body {
    margin-top: 0;
  }

  .contactIcons {
    clear: both;
  }

  #bsd {
    position: running(bsd);
  }
  #qrcode {
    position: fixed;
    top: -1cm;
    left: 0;
    height: 1cm;
    width: 1cm;
    text-align: top;
    padding: 0;
    border: 0;
    margin: 0;
  }
}

@page {
  size: A4;
  margin: 15mm;
}

@page: first {
}
@page {
  counter-increment: page;
  @top-right {
    content: element(bsd);
  }
}

@page: left {
  @bottom-left {
    content: counter(page) " of " counter(pages);
    font-family: Arial, Sans Serif;
    font-size: 8pt;
  }
}

@page: right {
  @bottom-right {
    content: counter(page) " of " counter(pages);
    font-family: Arial, Sans Serif;
    font-size: 8pt;
  }
}

@media handheld {
  .noprint {
    display: none;
  }
}

@media screen {
  body {
    margin-top: 35px;
    box-shadow: 0 0 20px #333;
    padding: 2em;
  }
  .noscreen {
    display: none;
  }

  .contactIcons li {
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    font-size: 36pt;
    margin: 2pt;
  }

  .contactIcons {
    font-size: 0;
  }

  .print-only {
    display: none;
  }

  .contactIcons li {
    display: inline-block;
    color: black;
  }
  .contactIcons .fa-li {
    position: relative;
    width: auto;
  }

  body {
    max-width: 10in;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  #qrcode {
    display: none;
  }
}

body {
  font-size: 10pt;
  font-family: arial, verenda, sans-serif;
  direction: ltr;
}

a {
  color: black;
  text-decoration-color: #9e9e9e;
  text-decoration-style: dotted;
}

p {
  margin: 0 0 0.1cm 0.25in;
}

#avatar {
  height: 2.5cm;
  clear: none;
  float: left;
  margin-top: 0;
  margin-left: 2cm;
  margin-bottom: -1cm;
  padding: 0 0 0 0;
  border-bottom: none;
}

div.vcard {
}

div.vcard div:lang(he) {
  text-align: right;
  direction: rtl;
}

h3 {
  /*    text-transform: capitalize; */
  margin-bottom: 0.25em;
  clear: both;
  page-break-after: avoid;
}

h3 + ul {
  margin-top: 0.25em;
}

div#nav {
  background-color: #eef;
  color: inherit;
  border-color: #aaa;
  border-bottom: 4px solid #ccc;

  border-left: 1px solid #ccc;

  padding: 10px;
  margin: 0;
  width: 100%;
  left: 0;
  font-size: 12px;
  text-transform: capitalize;
  white-space: nowrap;
}
div#nav {
  position: absolute; /* for IE --- :P */
  top: -40px;
}

body > div#nav {
  /* for browsers that understand CSS */
  position: fixed;
}

div#nav a {
  margin: 1.5em;
  color: black;
  background-color: inherit;
  text-decoration: none;
}

div#nav a:hover {
  font-weight: bold;
}

iframe,
img,
h2 {
  /* background-color: #EEF; */
  border-color: #aaa;
  border-bottom: solid #000;
  color: inherit;
  border-left: solid #ccc;
  margin-bottom: 0;
  border-width: 0 0 3px 0;
  text-transform: uppercase;
  page-break-after: avoid;
  clear: both;
}

h1.name {
  font-family: Verenda, sans-serif;
  margin: 0 0 0 0;
}

div#bsd {
  text-align: right;
  font-size: 8pt;
}

ul {
  page-break-inside: avoid;
  page-break-before: avoid;
}
iframe,
img {
  float: right;
  width: 80px;
  height: 60px;
  padding: 0.5em;
  margin: 1em;
}

.p-ipa {
  display: block;
  font-size: 50%;
  margin-left: 5mm;
  margin-top: -1mm;
  font-style: italic;
}

.p-ipa:before,
.p-ipa:after {
  content: "/";
  font-size: 110%;
  margin: -0.1em;
}
